{
    "layer": "top",
    "position": "top",
    "height": 34,
    "spacing": 0,
    "margin-top": 0,
    "margin-left": 0,
    "margin-right": 0,

    "modules-left": ["niri/workspaces"],
    "modules-center": ["clock"],
    "modules-right": ["cpu", "memory", "custom/sep", "pulseaudio", "custom/sep",{{ if eq .machine_type "laptop" }} "battery", "custom/sep",{{ end }} "tray"],

    "niri/workspaces": {
        "format": "{icon}",
        "format-icons": {
            "active": "●",
            "default": "○"
        }
    },

    "clock": {
        "format": " {:%H:%M   %d %b %Y}",
        "format-alt": " {:%A, %B %d}",
        "tooltip-format": "<tt><big>{:%B %Y}</big>\n\n{calendar}</tt>"
    },

    "cpu": {
        "format": "󰘚 {usage}%",
        "interval": 2,
        "tooltip": false
    },

    "memory": {
        "format": "󰍛 {percentage}%",
        "interval": 5,
        "tooltip-format": "{used:0.1f} GiB / {total:0.1f} GiB"
    },

    "custom/sep": {
        "format": "|",
        "interval": "once",
        "tooltip": false
    },

    "pulseaudio": {
        "format": "{icon} {volume}%",
        "format-muted": "󰝟 muted",
        "format-icons": {
            "default": ["󰕿", "󰖀", "󰕾"]
        },
        "on-click": "pactl set-sink-mute @DEFAULT_SINK@ toggle",
        "on-scroll-up": "pactl set-sink-volume @DEFAULT_SINK@ +5%",
        "on-scroll-down": "pactl set-sink-volume @DEFAULT_SINK@ -5%"
    },

    "battery": {
        "format": "{icon} {capacity}%",
        "format-charging": "󰂄 {capacity}%",
        "format-plugged": "󰚥 {capacity}%",
        "format-icons": ["󰁺", "󰁻", "󰁼", "󰁽", "󰁾", "󰁿", "󰂀", "󰂁", "󰂂", "󰁹"],
        "states": {
            "warning": 30,
            "critical": 15
        },
        "tooltip-format": "{timeTo}  {capacity}%"
    },

    "tray": {
        "icon-size": 16,
        "spacing": 8
    }
}
